
@model IEnumerable<OnlineStore.Models.Product>

<body>
    @foreach (var item in Model)
    {

        <div class="product-item">
            <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(item.Image))" />
            <div class="product-list">
                <h3>@item.Name</h3>
                <span class="price">@item.Price $</span>
                <input type="button" onclick="AddCart(@item.Id)" class="button" value="To cart" />
            </div>
        </div>

    }

</body>
